In [6]:
x = 10+90

In [7]:
print (x)

100

In [8]:
x = 1*100

In [9]:
print (x)

100

In [ ]:
x=101-1

In [10]:
print (x)

100

"# Code 2 floating-point variables and divide them by each other."

In [24]:
a=16.254

In [28]:
type(a)

float

In [25]:
b=4.85

In [29]:
type(b)

float

In [26]:
c=a/b

In [27]:
print(c)

3.3513402061855677

 "# Construct a short word made of separate strings"

In [48]:
a = 'MONEY'

In [49]:
type(a)

str

''#Construct 2 short sentences made of separate strings.''

In [56]:
a = 'HELLO Jupyter world, '

In [58]:
b = 'very nice to meet you all!'

In [59]:
a+b

'HELLO Jupyter world, very nice to meet you all!'

#At the bottom of your file, include a command that makes a string appear 100 times.

In [63]:
a = 'ILDA '

In [64]:
a * 100

'ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA ILDA '